body
  width 100vw
  height 100vh
  background url(img/bg@2x.png) center center no-repeat
  background-size cover
  display flex
  justify-content center
  align-items center
  font-family Microsoft YaHei, PingFang SC !important
  .center
    .head
      margin-bottom 53px
      display flex
      align-items center
      .logo
        width 82px
        height 82px
        margin-right 29px
        margin-left 21px
      &>i
        width 1px
        height 55px
        margin-right 21px
        background #747474
      .title
        &>h4
          margin-bottom 16px
          font-size 26px
          color #FFFFFF
        &>p
          font-size 17px
          color #9E9E9E
  .input
    width 385px
    height 49px
    margin-bottom 30px
    box-sizing border-box
    display flex
    align-items center
    padding 0 29px
    border-radius 25px
    background-color rgba(255, 255, 255, 0.27)
    img:first-child
      width 24px
      height 24px
      margin-right 19px
    &>input
      flex 1
      box-sizing border-box
      height 100%
      border none
      outline none
      background-color transparent
      font-size 15px
      color #fff
    img:last-child
      width 77px
      height 35px
  .submit-btn
    width 385px
    height 49px
    border-radius 25px
    background linear-gradient(-85deg,rgba(29,217,223,1),rgba(169,24,236,1))
    border none
    outline none
    font-size 17px
    color #FFFFFF
